<div id="login_register" ng-controller="loginsignupController" style="width:100%; height:100%;">
  <div class="logo">
    <img src="/app_angular/images/home/logo-big.png" alt="logo-big">
  </div>
  <div id="lrMainBox">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="" data-toggle="tab" ng-click="logintabclick()">Log In</a></li>
        <li><a href="" data-toggle="tab" ng-click="signuptabclick()">Sign Up</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div id="usernamebox">
            <span class="glyphicon glyphicon-user" style="color:white;"></span>
            <input class="userNameInput" type="text" ng-model="user.username" required="required">
          </div>
          <div id="passwordbox">
            <span class="glyphicon glyphicon-lock" style="color:white;"></span>
            <input class="passwordInput" type="password" ng-model="user.password" required="required">
          </div>
          <p class="loginButton" ng-click="login()" ng-hide="loginHide">Log In</p>
          <p class="signUpButton" ng-click="signup()" ng-hide="!loginHide">Sign Up</p>
          <div ng-show="isFailed" id="failedinfo">
            <button type="button" class="close" ng-click="closealert()">&times;</button>
            {{message}}
          </div>
        </div>
        <!-- <div class="tab-pane" id="tab2">
          <span class="glyphicon glyphicon-user" style="color:white;"></span>
          <input class="userNameInput" type="text" ng-model="user.username" required="required">
          <br>
          <span class="glyphicon glyphicon-lock" style="color:white;"></span>
          <input class="passwordInput" type="password" ng-model="user.password" required="required">
          <p class="signUpButton" ng-click="signup()">Sign Up</p>
        </div> -->
      </div>
    </div>
    <!-- <form name="outerForm" class="tab-form-demo">
      <uib-tabset active="activeForm" id="mainBox">
        <uib-tab index="0" heading="Log In" class="buttonleft">
          <ng-form name="logInForm">
            <div class="form-group">
              <input type="text" class="form-control usernameInput" required ng-model="user.username">
              <input type="password" class="form-control passwordInput" required ng-model="user.password">
              <input type="button" value="Login" ng-click="login()">
            </div>
          </ng-form>
        </uib-tab>
        <uib-tab index="1" heading="Sign Up" class="buttonleft">
          <ng-form name="signUpForm">
            <div class="form-group">
              <input type="text" class="form-control usernameInput" required ng-model="user.username">
              <input type="password" class="form-control passwordInput" required ng-model="user.password">
              <input type="button" value="Signup" ng-click="signup()">
            </div>
          </ng-form>
        </uib-tab>
      </uib-tabset>
    </form> -->
  </div>
</div>