<div id="one-question" ng-controller="one-question" ng-hide="myHide">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="label label-primary" style="margin-right:10px;">Question:</span>{{qComments.question.title}}
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{qComments.question.authorId}}
            <span>{{qComments.question.createdAt}}</span>
        </div>
        <div class="panel-body">
            {{qComments.question.body}}
        </div>
        <div class="panel-footer">
            <div class="column left-padding">
                <div ng-repeat="item in qComments.comments">
                    <p>{{item.body}}</p>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{item.authorId}}
                    <span>{{item.createdAt}}</span>
                    <hr style="height:1px;border:none;border-top:1px dashed #0066CC;margin:0px;" />
                </div>
                <div ng-controller="edit-q-comment">
                    <span class="glyphicon glyphicon-plus" ng-click="show_q_comment_edit()" style="color:#38B0DE;"></span>
                    <form ng-hide="qCommentEditHide">
                        <div class="form-group">
                            <textarea class="form-control" ng-model='content' rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="create_q_comment(qComments.question.id)">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="submit-answer" ng-controller="submit-answer" ng-hide="myHideOut">
        <div class="panel panel-default">
            <div class="panel-heading table-hover">Submit Your answer <span class="glyphicon glyphicon-plus" ng-click="show()" style="color:#38B0DE;"></div>
        <div class="panel-body" ng-hide="myHide">
            <form>
                <div class="form-group">
                    <textarea class="form-control" ng-model='content' rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat="item in aComments">
        <div class="panel-heading"><span class="label label-success" style="margin-right:10px;">Answer:</span>{{item.answer.title}}</div>
            <div class="panel-body">
                {{item.answer.body}} - {{item.answer.createdAt}}
            </div>
            <div class="panel-footer">
                <div class="column left-padding">
                    <div id="comment" ng-repeat="v in item.comments">
                        <p>{{v.body}}</p>
                        <p>{{v.createdAt}}</p>
                        <hr style="height:1px;border:none;border-top:1px dashed #0066CC;margin:0px;" />
                    </div>
                    <div ng-controller="edit-comment">
                        <span class="glyphicon glyphicon-plus" ng-click="show_comment_edit()" style="color:#38B0DE;"></span>
                        <form ng-hide="commentEditHide">
                            <div class="form-group">
                                <textarea class="form-control" ng-model='content' rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default" ng-click="create_comment(item.answer.id)">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
