<div id="one-question" ng-controller="one-question" ng-hide="myHide">
    <div class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
            Question
        </div>
        <div class="panel-footer">
            <p>dfasdf</p>
            <p>dfadfasfsd</p>
            <p>rvcskdjlf</p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">answer</div>
        <div class="panel-body">
            Question
        </div>
        <div class="panel-footer">
            <p>dfasdf</p>
            <p>dfadfasfsd</p>
            <p>rvcskdjlf</p>
        </div>
    </div>
</div>
