<!-- id title authorId body type parentId absParentId  createdAt updatedAt -->
<div id="questions" ng-controller="questions" ng-hide="myHide">
    <div class="panel panel-default">
        <div class="panel-heading" ng-click="show()">Question List</div>
        <div class="panel-body" ng-hide="myHideList">
            <ul class="list-group">
                <li class="list-group-item table-hover" ng-repeat="item in questionsList" ng-click="getQA(item.id)">
                    {{item.title}}
                </li>
            </ul>
        </div>
    </div>
</div>
