<div id="submit-question" ng-controller="submit-question" ng-hide="myHideOut">
    <div class="panel panel-default">
        <div class="panel-heading table-hover" ng-click="show()">Submit Your Question</div>
        <div class="panel-body" ng-hide="myHide">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Your Title</label>
                    <input class="form-control"  ng-model='title' placeholder="title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Your Content</label>
                    <textarea class="form-control" ng-model='content' rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
            </form>
        </div>
    </div>
</div>
