#detail .navbar{
	background-color: #2fa5d3;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
}
#detail #detail-content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}
#detail #toolbarlogo {
	position: absolute;
	height: 53px;
	top: 0px;
	display: block;
}
#detail .container-fluid {
	position: relative;
}
#detail #searchInput {
	width: 500px;
	height: 35px;
	position: absolute;
	left: 300px;
	top: 8px;
}
#detail #btn {
	font-size: 30px;
	color: #2fa5d3;
	position: absolute;
	left: 760px;
	top: 10px;
}