#login_register {
	background-size:100%;
	background-repeat: no-repeat;
	background-image: url('/app_angular/images/background.jpg');
}
#login_register .logo {
	width: 500px;
	height: 123px;
	margin: 0 auto;
	padding-top: 50px;
}
#login_register .logo img {
	display: block;
	width: 100%;
}
#lrMainBox {
	width: 400px;
	height: 340px;
	margin: 100px auto;
}
#login_register .nav-tabs {
	border-bottom: none;
}
#login_register .nav-tabs li {
	margin-bottom: 0px;
}
#login_register .nav {
	width: 100%;
	text-align: center;
	font-family:STHeitiSC-Light;
	font-size:16px;
	color:#ffffff;
}
#lrMainBox .nav li {
	width: 50%;
}
#lrMainBox .nav a {
	color:#cfcfcf;
	width: 100%;
	background-color: rgba(255,255,255,0.40);
}

#lrMainBox .nav .active a {
	color:#ffffff;
	background-color: rgba(255,255,255,0.6);
}
#lrMainBox .tab-content {
	background-color: rgba(255,255,255,0.6);
	border-top: none;
	z-index: 999;
}
#login_register .tab-pane {
	padding-bottom: 15px;
	position: relative;
}
#usernamebox, #passwordbox {
	margin: 0 auto;
	width: 330px;
	position: relative;
	padding-top: 35px; 
}
#passwordbox {
	padding-bottom: 35px;
	padding-top: 15px;
}
#login_register .userNameInput {
	height: 48px;
	width: 330px;
	border-radius: 8px;
	border: 1px solid #fff;
	background-color: transparent;
	line-height: 48px;
	font-family:STHeitiSC-Light;
	font-size:16px;
	color:#ffffff;
	padding-left: 37px;
	outline: none;
}
#login_register .passwordInput {
	height: 48px;
	width: 330px;
	border-radius: 8px;
	border: 1px solid #fff;
	background-color: transparent;
	line-height: 48px;
	font-family:STHeitiSC-Light;
	font-size:16px;
	color:#ffffff;
	padding-left: 37px;
	outline: none;
}
#login_register .glyphicon {
	font-size: 29px;
	position: absolute;
	left: 3px;
}
#usernamebox .glyphicon {
	top: 43px;
}
#passwordbox .glyphicon {
	top: 23px;
}
#login_register .loginButton {
	width: 330px;
	height: 47px;
	line-height: 47px;
	background-color: #2fa5d3;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
}
#login_register .signUpButton {
	width: 330px;
	height: 47px;
	line-height: 47px;
	background-color: #2fa5d3;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
}
#failedinfo {
	width: 330px;
	color: red;
	margin: 0 auto;
	padding: 5px;
}